html { 
  background: url(joker.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
display: flex;
  margin-top: 250px;
  justify-content: center;
  align-items: center;

  font-family: 'Piedra', cursive;
    color: #ecf0f1;
text-transform: uppercase;
    
}
.mine{
	border-radius: 250px;
	padding: 2em;
	background-color: #f39c12;
	text-transform: uppercase;
	

}
.mine:hover{
	cursor: pointer;
		background-color:#d35400;
		transform: scale(1.07);
}
img{
	height :200px;
	width: 200px;
	border-radius: 300px;
	opacity: 50%;
}
img:hover{
	height :250px;
	width: 250px;
	border-radius: 315px;

}
.hi{
	display: flex;
     justify-content: center;
  align-items: center;
  margin-top: 30px;

}